﻿<form #formulaire= "ngForm" (ngSubmit)="onSubmit (formulaire)">
  <div>
    <label for="name">firstname :</label>
    <input type="text" id="name" name="user_name" ngModel>
  </div>
  <div>
    <label for="mail">lastname :</label>
    <input type="email" id="mail" name="user_mail" ngModel>
  </div>
  <div class="button">
    <button type="submit">Create Users</button>
  </div>
</form>
<div>
  <p *ngFor="let Array of monArray">
    firstname : {{Array.name}}, lastname : {{Array.mail}}
  </p>
</div>
